<% if user_signed_in? %>
  <% if current_user.favorites_by?(livehouse.id) %>
    <%= link_to favorite_path(id: livehouse.id), method: :delete, remote: true do %>
      <span class="material-icons">favorite</span>
    <% end %>
  <% else %>
    <%= link_to favorites_path(id: livehouse.id), method: :post, remote: true do %>
      <span class="material-icons">favorite_border</span>
    <% end %>
  <% end %>
<% end %>

