/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

// Colors
// =============================
$grey: #333;
$white: #fff;

// Common
// ==============================
html {
  font-size: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
main {
  padding-top: 3.4rem;
  background: #f8f6f2;
  height: 100vh;
  flex: 1;
}

// Layouts
.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

// HEADER
// ===============================
header {
  background-color: $grey;
  padding: 0.7rem 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  .wrapper {
    display: flex;
    justify-content: space-between;
    height: 2rem;
    .logo {
      font-family: 'Patua One', cursive;
      font-size: 1.2rem;
      color: $white;
    }
    .btn-menu {
      position: absolute;
      top: 9px;
      right: 12px;
      border: 1px solid rgba(255,255,255,.5);
      padding: 0.2rem 1rem;
      color: $white;
    }
    .main-nav {
      background-color: $grey;
      position: absolute;
      top: 50px;
      right: 0;
      width: 0;
      overflow: hidden;
      transition: 0.5s;
      z-index: 2;
      li {
        text-align: center;
        margin: 2rem 0;
      }
      a {
        color: $white;
        display: block;
      }
    }
    .main-nav.open-menu {
      width: 100%;
    }
  }
}

// Footer
// ============================
footer {
  background: $grey;
  text-align: center;
  padding: 1rem;
  p {
    margin: 0;
  }
  small {
  color: $white;
  font-size: .875rem;
  }
}

// ********************************
// Desktop
// ********************************
@media (min-width: 600px) {

// HEADER
// ===============================
header {
  .wrapper {
    align-items: center;
    .btn-menu {
      display: none;
    }
    .main-nav {
      display: flex;
      position: static;
      width: 100%;
      margin: 0;
      li {
        margin: 0 0 0 1rem;
      }
    }
  }
}
  
}