.container-fluid.favorites {

  // 固定
  #livehouses_area {
    position: fixed;
    top: 10%;
    left: 2%;
  }
    
  // ライブハウス一覧
  #livehouses_area {
    overflow-y: auto;
    width: 21%;
    height: 700px;
    padding: 0.5rem;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    .title {
      font-size: 1.2rem;
      text-align: center;
      text-decoration:underline;
      text-decoration-thickness: 3px;
      text-decoration-color: red;
      padding-bottom: 1rem;
    }
    .favorite_group {
      padding: 0;
      li span {
        display: flex;
        align-items: center;
        color: red;
      }
      .favorite_list {
        display: flex;
        list-style: none;
        text-align: start;
        align-items: center;
        align-content: center;
        padding: 4px 0px;
        .favorite_item {
          padding-left: 1%;
          color: white;
          font-size: 1rem;
        }
      }  
    }
  }

  // スケジュール
  #schedule {
    padding: 1rem 0.5rem 1rem 1.5rem;
    .this_week,
    .next_week,
    .after_next_week {
      padding: 10px 0px 10px 10px;
      font-size: 1.2rem;
    }
    .body_card {
      height: 300px;
      margin: 0px;
      padding: 0.5rem 0.3rem;
      .schedule_card {
        height: 100%;
        position: relative;
        display: flex;
        text-align: center;
        flex-direction: column;
        background-color: transparent;
        background-clip: border-box;
        border: 1px solid white;
        border-radius: 0.25rem;
        .card_header {
          background-color: white;
          color: black;
          .date {
            .year {
              font-size: 0.7rem;
            }
            .month {
              font-size: 1.5rem;
            }
            .day {
              font-size: 1rem;
            }
          }
        }
        .card_title {
          margin: 1rem 1rem 0 1rem;
          font-size: 0.9rem;
          background-color: rgba(255, 0, 0, 0.5);
          border-radius: 0.25rem;
        }
        .card_time {
          width: 80%;
          margin: 0 auto;
          padding: 0.3rem 0;
          border-bottom: 1px solid rgba(255, 255, 255, 0.5);
          .title {
            font-size: 0.4rem;
          }
          .content {
            font-size: 0.9rem;
            padding-left: 0.1rem;
          }
        }
        .card_artist {
          overflow-wrap: break-word;
          font-size: 1rem;
          padding: 1rem 0.5rem 0 0.5rem;
        }
        .card_select {
          position: absolute;
          transform: translate(-50%,-50%);
          bottom: 0;
          left: 50%;
          display: flex;
          .detail {
            font-size: 0.6rem;
            color: rgba(172, 255, 47, 0.726);
            border: 1px solid rgba(172, 255, 47, 0.726);
            font-weight: 400;
            text-align: center;
            vertical-align: middle;
            background-color: transparent;
            padding: 0.2rem 0.7rem 0 0.7rem;
            border-radius: 0.25rem;
          }
          .join {
            font-size: 0.7rem;
            color: orange;
            border: 1px solid orange;
            display: inline-block;
            font-weight: 400;
            text-align: center;
            vertical-align: middle;
            user-select: none;
            background-color: transparent;
            padding: 0.1rem 0.5rem;
            border-radius: 0.25rem;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            margin-left: 0.5rem;
          }
          .unjoin {
            font-size: 0.7rem;
            color: skyblue;
            border: 1px solid skyblue;
            display: inline-block;
            font-weight: 400;
            text-align: center;
            vertical-align: middle;
            user-select: none;
            background-color: transparent;
            padding: 0.1rem 0.5rem;
            border-radius: 0.25rem;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            margin-left: 0.5rem;
          }
        }
      }
    }
  }
  #more_link {
    color: white;
    border-radius: 0.25rem;
  }
}