.container-fluid.favorites {

  // 固定
  .user_profile {
    position: fixed;
    top: 10%;
    left: 1.6%;
  }
  #event_search {
    position: fixed;
    top: 32%;
    left: 1.5%;
  }
  #livehouses_area {
    position: fixed;
    top: 55%;
    left: 2%;
  }

  // サイドバー枠
  .side_bar {
    position: fixed;
    top: 9%;
    left: 1.5%;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 0.25rem;
    width: 23%;
    height: 85%;
  }

  // プロフィール
  .user_profile {
    width: 23%;
    padding: 1.5rem 1rem;
    border-radius: 0.25rem;
    .img_con {
      padding: 0 0 0 15px;
    }
    .article_con {
      padding: 0 0 0 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .img_con {
      text-align: center;
    }
    .img {
      border: thin solid white;
      border-radius: 50%;
      width: 7vw;
      height: 7vw;
      object-fit: cover;
      padding: 0;
      margin: 0 auto;
    }
    .article {
      .name {
        font-size: clamp(0.5rem, 1.5vw, 1.5rem);
        overflow-wrap: break-word;
      }
      .display_name {
        font-size: clamp(0.3rem, 1vw, 1rem);
        padding-top: 0.5rem;
        overflow-wrap: break-word;
      }
      .edit_btn {
        color: white;
        border: 1px solid white;
        width: 50%;
        font-size: 0.8rem;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        background-color: transparent;
        padding: 0.3rem 0.2rem;
        margin-top: 1.5rem;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
    }
  }


  // 期間検索
  #event_search {
    width: 25%;
    .search_title {
      display: inline-block;
      width: 30%;
      margin: 0 auto;
      margin-bottom: 0.9rem;
      padding: 0.1rem 0rem;
      font-size: 1.2vw;
      color: white;
      background: linear-gradient(transparent 85%, rgba(179, 255, 0, 0.801) 85%);
    }
    .row {
      margin: 0;
    }
    .search_form {
      #date_search_held_on_gteq,
      #date_search_held_on_lteq {
        width: 100%;
        font-size: 0.8rem;
        padding: 0.3rem 0em;
        font-weight: 400;
        line-height: 1.5;
        color: black;
        vertical-align: middle;
        border: 1px solid black;
        border-radius: 0.25rem;
        background-color: rgba(255, 255, 255, 0.911);
      }
      .line {
        font-size: 0.5rem;
        padding: 0.5rem;
        text-align: center;
      }
    }
    .search_btn {
      margin-top: 0.5rem;
      display: flex;
      justify-content: flex-end;
      .btn {
        font-size: 0.8rem;
        color: white;
        border: 1px solid white;
        font-weight: 400;
        user-select: none;
        background-color: transparent;
        padding: 0.1rem 0.5rem;
        margin: 0.1rem 0 0 0.1rem;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
    }
  }

    
  // お気に入りライブハウス一覧
  #livehouses_area {
    overflow-y: auto;
    width: 21%;
    padding: 0.5rem;
    background-color: transparent;
    .title {
      display: inline-block;
      width: 30%;
      margin: 0 auto;
      margin-bottom: 0.9rem;
      padding: 0.1rem 0rem;
      font-size: 1.2vw;
      color: white;
      background: linear-gradient(transparent 85%, rgba(179, 255, 0, 0.801) 85%);
    }
    .container {
      border: 1px solid rgba(255, 255, 255, 0.5);
      overflow: auto;
      height: 200px;
      .favorite_group {
        padding: 0;
        li span {
          display: flex;
          align-items: center;
          color: red;
        }
        .favorite_list {
          display: flex;
          list-style: none;
          text-align: start;
          align-items: center;
          align-content: center;
          padding: 4px 0px;
          .favorite_item {
            padding-left: 1%;
            color: white;
            font-size: 1rem;
          }
        }  
      }
    }
  }


  // スケジュール
  #schedule {
    padding: 0rem 0.5rem 1rem 1.5rem;
    .event_separate {
      padding-left: 0.5rem;
    }
    .this_week {
      padding: 0.2rem 0 0.2rem 0rem;
      display: inline-block;
      margin: 1rem 0 0.5rem 0;
      font-size: 1.5rem;
      background: linear-gradient(transparent 80%, rgba(255, 255, 0, 0.801) 80%);
      color: white;
      font-weight: 700;
    }
    .next_week,
    .after_next_week {
      padding: 0.2rem 0 0.2rem 0rem;
      display: inline-block;
      margin: 1rem 0 0.5rem 0;
      font-size: 1.5rem;
      background: linear-gradient(transparent 80%, rgba(255, 255, 0, 0.801) 80%);
      color: white;
      font-weight: 700;
    }
    .body_card {
      height: 400px;
      margin: 0px;
      padding: 0.7rem 0.5rem;
      .schedule_card {
        height: 100%;
        position: relative;
        display: flex;
        text-align: center;
        flex-direction: column;
        background-color: transparent;
        background-clip: border-box;
        border: 6px solid rgba(255, 255, 255, 0.801);
        border-top: transparent;
        border-radius: 0.25rem;
        .card_header {
          background-color: rgba(255, 255, 255, 0.801);
          color: black;
          padding: 2px 0px;
          .date {
            .year {
              font-size: 0.7rem;
            }
            .day {
              font-size: 1.7rem;
              margin: 0 5px;
            }
            .week_sunday {
              font-size: 0.8rem;
              background-color: rgba(255, 0, 0, 0.808);
              color: white;
              border-radius: 0.25rem;
              padding: 0.2rem 0.4rem;
            }
            .week_saturday {
              font-size: 0.8rem;
              background-color: rgba(0, 0, 255, 0.801);
              color: white;
              border-radius: 0.25rem;
              padding: 0.2rem 0.4rem;
            }
            .week {
              font-size: 0.8rem;
              background-color: black;
              color: white;
              border-radius: 0.25rem;
              padding: 0.2rem 0.4rem;
            }
          }
        }
        .card_title {
          margin: 1rem 1rem 0rem 1rem;
          .title {
            display: block;
            font-size: 1vw;
            color: white;
            vertical-align: middle;
            padding: 3px 0px;
            background-color: rgba(255, 0, 0, 0.5);
            border-radius: 0.25rem;
            width: 100%;
            height: 100%;
          }
          .title:hover {
            background-color: red;
          }
        }
        .card_time {
          width: 80%;
          margin: 0 auto;
          padding: 0.3rem 0;
          border-bottom: 1px solid rgba(255, 255, 255, 0.5);
          .title {
            font-size: 0.4rem;
          }
          .content {
            font-size: 0.8rem;
            padding-left: 0.1rem;
          }
        }
        .card_artist {
          overflow-wrap: break-word;
          font-size: 1.2rem;
          padding: 1rem 0.5rem 0 0.5rem;
        }
        .card_select {
          position: absolute;
          transform: translate(-50%,-50%);
          bottom: 0;
          left: 50%;
          display: flex;
          align-items: center;
          .join {
            font-size: 0.9rem;
            color: white;
            border: 1px solid white;
            display: inline-block;
            text-align: center;
            user-select: none;
            padding: 0rem 0.7rem;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            margin-left: 0.5rem;
            border-radius: 0.25rem;
          }
          .unjoin {
            font-size: 0.9rem;
            color: red;
            border: 1px solid red;
            display: inline-block;
            text-align: center;
            user-select: none;
            padding: 0rem 0.7rem;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            margin-left: 0.5rem;
            border-radius: 0.25rem;
          }
        }
      }
    }
  }
    #more_link {
      color: white;
      padding-top: 100px;
      font-size: 1.2rem;
    }
}
