// トップ、新規登録、ログイン、パスワード忘れ共通

body.container-fluid.livehouses,
body.registrations,
body.container-fluid.sessions,
body.container-fluid.passwords {
  height: 1800px;
  position: relative;

// フラッシュメッセージ
  .alert-error,
  .alert-notice {
    position: absolute;
    transform: translate(-50%,-50%);
    color:red;
    top: 100px;
    left: 50%;
    z-index: 100;
  }

// トップ画像
  .top_img {
    position: absolute;
    width: 100%;
    height: 1080px;
    object-fit: cover;
  }

// トップロゴ
  .top_logo {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 380px;
    left: 50%;
    max-width: 100%;
    height: auto;
    z-index: 10;
  }

// ヘッダー
  .header_top {
    position: absolute;
    transform: translate(-50%,-50%);
    background-color: transparent;
    z-index: 500;
    width: 100%;
    top: 100px;
    left: 50%;
    justify-content: center;
    border-bottom: none;
    .logo_only {
      display: none;
    }
    .header_nav * {
      color: white;
      font-size: 1.2rem;
      align-items: center;
      padding: 10px;
    }
    .header_nav {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      margin-top: 0;
      justify-content: center;
      .header_link *{
      display: block;
      padding: 0;
      text-decoration: none;
      background-color: transparent;
      }
    }
  }

// メインボディ 
  main.livehouses,
  main.registrations,
  main.sessions,
  main.passwords {
    height: 100%;
    padding-top: 0;

// エラーメッセージ(新規登録)
    #error_explanation ul {
      color: red;
      list-style: none;
      margin: 0;
    }


// トップページ
// 検索フォーム(トップ)
    .search_form {
      position: absolute;
      transform: translate(-50%,-50%);
      text-align: center;
      top: 700px;
      left: 50%;
      z-index: 1000;
    }
    .search_livehouse {
      display: flex;
      align-items: center;
      #q_place_id_eq {
        display: inline-block;
        width: 80%;
        height: calc(2rem + 2rem + 2px);
        font-size: 1rem;
        padding: 0.375rem 1.75rem 0.375rem 0.75rem;
        font-weight: 400;
        line-height: 1.5;
        color: white;
        vertical-align: middle;
        border: 1px solid white;
        border-radius: 0.25rem;
        background-color: transparent;
      }
      .search_btn {
        width: 15%;
        height: 3rem;
        font-size: 1rem;
        margin-left: 20px;
        color: #dc3545;
        border: 1px solid red;
        display: inline-block;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        background-color: transparent;
        padding: 0.375rem 0.5rem;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
    }

// 検索結果(トップ)
    #livehouses_area {
      margin-top: 20px;
      width: 80%;
      height: 8rem;
      background-color: transparent;
      text-align: start;
      .container {
        border: 1px solid white;
        overflow: auto;
        height: 8rem;
        .favorite_group {
          padding: 0;
          margin: 10px 0px;
          width: 100%;
          li span {
            display: flex;
            align-items: center;
          }
          .favorite_list {
            display: flex;
            list-style: none;
            text-align: start;
            padding: 2px 0px;
            margin-left: 30px;
            align-items: center;
            align-content: center;
            .favorite_item {
              padding-left: 5%;
              color: white;
              font-size: 1rem;
            }
            .material-icons {
              color: red;
            }
          }  
        }
      }
    }
  

// 説明部分(トップ)
    .explanation {
      width: 100%;
      position: absolute;
      transform: translate(-50%,-50%);
      top: 660px;
      left: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .about,
      .how_to,
      .membership {
        display: inline-block;
        font-size: 2rem;

        text-align: center;
        padding-top: 4rem;
      }
      hr {
        border-top: 2px solid #fa0000;
        width: 50%;
        margin: 0 auto 1rem auto;
        text-align: start;

      }
      .about_content,
      .how_to_content,
      .membership_content {
        text-align: center;
        margin: 0;
        padding-top: 10px 0px 40px 0px;   
      }
      .about_1,
      .about_2,
      .about_3 {
        padding: 5px 0;
      }
      .about_4 {
        font-size: 1.7rem;
        padding-top: 5px;
      }
      .how_to_1,
      .how_to_2,
      .how_to_3 {
        padding: 5px 0;
      }
      .membership_1 {
        padding: 10px 0;
      }
      .membership_2,
      .membership_4,
      .membership_6,
      .membership_8 {
        padding: 15px 0 3px 0;
        font-size: 1.3rem;
        
      }
    }
  }
}
