
.container-fluid.registrations {

// topからの位置
  .sign_up {
    top: 600px
  }
    .edit {
      top: 700px
    }

// 項目部分
  .sign_up,
  .edit {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    text-align: center;
    .title {
      width: auto;
      color: white;
      font-size: 1.5rem;
      background-color: red;
      margin: 0px 100px 25px 100px;
      border-radius: 0.25rem;
    }
    
    .name,
    .display_name,
    .email,
    .password,
    .password_confirmation {
      padding-bottom: 20px;
      label {
        color: white;
        font-size: 1.2rem;
        margin: 0;
        text-decoration:underline;
        text-decoration-color: red;
      }
      .notes {
        color: white;
      }
      input {
        display: inline-block;
        width: 80%;
        height: calc(1.5em + 1.5rem + 2px);
        font-size: 1rem;
        padding: 0.375rem 1.75rem 0.375rem 0.75rem;
        margin-top: 0.5rem;
        font-weight: 400;
        line-height: 1.5;
        color: white;
        vertical-align: middle;
        border: 1px solid white;
        border-radius: 0.25rem;
        background-color: transparent;
      }
    }
    .image {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 2%;
      .icon {
        width: 30%;
        img {
          border: thin solid white;
          border-radius: 50%;
          width: 80%;
          height: 100%;
          object-fit: cover;
          margin: 5px;
        }
      }
      .select {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      label {
        display: inline-block;
        position: relative;
        background-color: black;
        color: white;
        width: 80%;
        font-size: 1rem;
        padding: 10px 10px;
        margin: 20px 0px 0px 0px;
        border-radius: 8px;
        transition: all 0.5s;
        border: 2px solid white;
      }
      label:hover {
        opacity: 0.5;
      }
      .notes {
        color: white;
        padding: 10px 0px;
      }
      input {
        display: none;
      }
    }
    .button {
      display       : inline-block;
      border-radius: 0.25rem;
      font-size     : 1.2rem;
      text-align    : center;      
      cursor        : pointer;    
      padding       : 10px 20px;   
      margin: 20px 0px 10px 0px;
      background    : red;
      color         : white;
      line-height   : 1em;    
      transition    : .3s;        
      border        : 2px solid #ff0004;
    }
    .button:hover {
      box-shadow    : none;        
      color         : #ff0004;     
      background    : #ffffff;    
    }
  }
  .delete_btn {
    font-size: 1.2rem;
    color: #dc3545;
    border: 1px solid red;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    padding: 10px 20px;   
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .back_btn {
    color: white;
    font-size: 1.2rem;
  }
}