

.container-fluid.sessions {

// 項目部分
  .sign_in {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 400px;
    left: 50%;
    text-align: center;
    .title {
      width: auto;
      color: white;
      font-size: 1.5rem;
      background-color: red;
      margin: 0px 100px 25px 100px;
      border-radius: 0.25rem;
    }
    
    .email,
    .password {
      padding-bottom: 20px;
      input {
        display: inline-block;
        width: 80%;
        height: calc(1.5em + 1.5rem + 2px);
        font-size: 1rem;
        padding: 0.375rem 1.75rem 0.375rem 0.75rem;
        margin-top: 0.5rem;
        font-weight: 400;
        
        line-height: 1.5;
        color: white;
        vertical-align: middle;
        border: 1px solid white;
        border-radius: 0.25rem;
        background-color: transparent;
      }
    }
    .button {
      display       : inline-block;
      border-radius: 0.25rem;
      font-size     : 1rem;
      text-align    : center;      
      cursor        : pointer;    
      padding       : 12px 13px;   
      margin: 10px 0px 15px 0px;
      background    : red;
      color         : white;
      line-height   : 1em;    
      transition    : .3s;        
      border        : 2px solid #ff0004;
    }
    .button:hover {
      box-shadow    : none;        
      color         : #ff0004;     
      background    : #ffffff;    
    }
  }
  .recoverable {
    color: red;
    font-size: 1.2rem;
  }
}