// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.container-fluid.users {

  // プロフィール
  .user_profile {
    .img {
      border: thin solid white;
      border-radius: 50%;
      width: 80%;
      height: auto;
      object-fit: cover;
      margin: 20px 20px 20px 0px;
    }
  }


  // スケジュール
  #schedule {
    padding: 1.5rem 0;
    .body_card {
      height: 260px;
      margin: 0px;
      padding: 0 0.3rem;
      .schedule_card {
        height: 100%;
        position: relative;
        display: flex;
        text-align: center;
        flex-direction: column;
        background-color: transparent;
        background-clip: border-box;
        border: 1px solid white;
        .card_header {
          background-color: white;
          color: black;
          .year {
            font-size: 0.7rem;
          }
          .month {
            font-size: 1.5rem;
          }
          .day {
            font-size: 1rem;
          }
        }
        .card_title {
          margin: 1rem 1rem 0 1rem;
          font-size: 1rem;
          background-color: rgb(255, 49, 49);
          // text-decoration:underline;
          // text-decoration-color: red;
        }
        .card_artist {
          font-size: 1.2rem;
          padding: 1rem 1rem 0 1rem;
        }
      }
    }
  }
}