<% if q_livehouse.conditions.present? %>
  <div class="container">
    <ul class="favorite_group">
      <% result_livehouses.each do |livehouse| %>
        <li class="favorite_list">
          <span id="favorite_<%= livehouse.id %>"><%= render 'events/livehouse', { livehouse: livehouse } %></span>
          <%= link_to "#{livehouse.name}", livehouse_events_path(livehouse.id,q: {place_id_eq: livehouse.place_id }),class: "favorite_item" %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>