<section id="main-img">
  <div class="wrapper">
    <h2>LiVEHOUSE</h2>
    <p>-スケジュールを検索/管理できるアプリ-</p>
    <!-- ライブハウス検索窓 -->
    <%= search_form_for @q_livehouse, as: :livehouse_search, url: livehouses_path, remote: true do |f| %>
      <%= f.collection_select :place_id_eq, Place.all, :id, :prefecture_area, include_blank: "ライブハウス検索" %>
      <%= f.submit '検索', class: "search_btn" %>
    <% end %>
    <!-- ライブハウス検索結果 -->
    <div id="livehouses_area">
      <%= render 'layouts/result_livehouse_search', { livehouses: @livehouses, q_livehouse: @q_livehouse } %>
    </div>
  </div>
</section>

<section id="about" class="wrapper">
  <div class="title">About</div>
  <div class="content">
    <p class="about_1">地域からライブハウスを検索！</p>
    <p class="about_2">各ライブハウスのスケジュールを調べることができます。</p>
    <p class="about_2">会員登録することで、ライブハウスやスケジュールを管理したり、コメントやブログの投稿ができるようになります。</p>
  </div>
</section>

<section id="membership" class="wrapper">
    <div class="title">Member</div>
    <div class="content">
      <p class="con-title">ライブハウスお気に入り</p>
      <p>好きなライブハウスをお気に入り登録。お気に入りページで管理できます。</p>
      <p class="con-title">ライブ登録</p>
      <p>スケジュールからライブを登録。スケジュールページから登録したライブを確認できます。</p>
      <p class="con-title">コメント</p>
      <p>各ライブの詳細ページからコメント投稿ができます。</p>
      <p class="con-title">ブログ</p>
      <p>ブログページからブログの投稿ができます。</p>
    </div>
</section>
